.h_postJob_input_field {
  border-radius: 1.5rem;
  padding: 0px 12px;
  color: red !important;
  margin-bottom: 20px;
  .ant-form-item-row {
    display: block;
  }
  .h_button_style_link {
    border: none;
    box-shadow: none;
    color: #2b85cf;
    line-height: 22px;
  }
  .h_jobPostForm_Scope_language_styled {
    background-color: @gray-color4;
    padding: 15px;

    margin-bottom: 5px;
    align-items: center;
  }
  .d_flex {
    align-items: center;
    display: flex;
    color: #808080;
    align-items: flex-end;
  }
  .ant-form-item {
    display: contents;
    margin-bottom: 0px;

    flex-direction: column !important;
  }

  .h_postJob_ant_form_item {
    display: contents;
    // input {
    //   padding: 10px !important;
    // }
    .h_jobSkill_Search {
      display: flex;
      button {
        height: 44px;
      }
    }
    label::after {
      content: unset !important;
    }
  }
  .ant-form-item-label {
    text-align: start !important;
  }
  .budgetInput span {
    color: #808080;
  }
  .ant-form-item-label {
    font-size: 16px;
    font-weight: 600;
    color: #333;

    text-align: left;
  }
  .ant-row {
    display: contents;
    flex-direction: column !important;
  }
}

.h_postJob_input_field_model {
  display: inline-block;
}

.h_jobPostForm_Scope_language_styled {
  background-color: @gray-color4;
  padding: 15px;

  margin-bottom: 5px;
  align-items: center;
}
.h_model_button_style {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  button {
    margin-right: 12px;
    color: #51a2db;
    border-color: #51a2db;
  }
  .h_model_submit {
    color: #fff;
  }
}
.h_postJob_ant_form_item {
  display: block;
}
.ant-form-item-row {
  display: block;
}

.h_submit_Proposal_heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #434343;
  line-height: 1.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}
.h_proposal_terms_Text {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #434343;
}
.h_fixed_price_rate {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: @text-color;
  margin: 12px 0px;
  line-height: 1.6rem;
}
.h_submit_Proposal_description_text {
  margin: 20px 0px;
}
.h_submit_Proposal_table_styling {
  margin-top: 30px;
  width: 100%;
  tr,
  td {
    border-top: 0.5px solid @gray-color;
    text-align: left;

    padding: 10px;
    th {
      padding: 8px;
    }
  }
  .h_submit_proposal_model_border {
    border-radius: 4px;
    border-left: 10px solid @primary-color;
  }
}

.h_submit_Proposal_MainHeading {
  font-weight: 600;
  font-size: 18px;
  color: @text-color;
}
